<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <style>
        body{
          font-size: 20px;
		  background-image: url(/images/product-bg.jpg);
		  background-size: cover;
		  background-repeat: no-repeat;
		  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
        }
        .header{
          text-align: center;
        }
        .header h2{
          margin-bottom: 0;
        }
        .img-box{
          text-align: center;
        }
        .img-box div{
          margin-bottom: 2px;
        }
        .image-file{
          display: none;
        }
        #upload-button{
          height: 3rem;
		  border: 1px solid #000000;
          background-color: #ffffff;
		  width: 80%;
        }
		.upload-img-box{
			height: 4rem;
			margin-bottom: 1rem;
	   		margin: 0 auto;
		}
		.upload-img-box *{
			float: left;
		 	margin-right: 0.5rem;
		  	border-radius: 3px; 
		}
		.upload-img-box textarea{
		  border: none;
		  height: 3rem;
		  position: relative;
		  top: 0.5rem;
		  resize: none;
		}
		.upload-img-box button{
		  height:2rem;
		  width: 3rem;
		  background-color: #ffffff;
		  border: none;
		  position: relative;
		  top: 1rem;
		}
		.upload-img-box .button-del{
			background-color: red;
			color: #ffffff;
		}
		.upload-img{
			height:4rem;
			width: 4rem;
		}
        .form-content{
          margin-top: 1rem;
        }
        .input-group{
          margin-top: 1rem;
          padding-left: 2rem;
        }
        .input-group label{
		  font-size: 1rem;
          margin-right: 2rem;
        }
        .input-group input[type='text'],textarea{
          border-radius: 3px;
          border: 1px solid grey;
          height: 2rem;
          width: 10rem;
        }
        .distributions{
          text-align: center;
        }
        .distributions input{
          margin-bottom: 1px;
        }
        .button-group{
            text-align: center;
        }
        .button-group input{
      		background-color: green; 
            border-radius: 3px;
            border: 1px solid #000000;
			height: 2rem;
            width: 40%;
		}
		.button-group input:last-child{
      		background-color: rgb(245, 152, 13); 
		}
		.myalert{
			display: none;
			position: fixed;
			text-align: center;
			top: 20rem;
			left: 5rem;
			background-color: rgba(217, 216, 219, 0.83);
			width: 60%;
            border-radius: 3px;
			margin: auto 0;
		}
		.myalert button{
			background-color: #ffffff;
            border-radius: 3px;
		}
    </style>

</head>
<body>
    <div class="header">
      <h2>上传一个新商品</h2>
      <p>(图片建议大小:600X600)</p>
    </div>
    <div class="img-box">
      <div>
        <button id="upload-button" onclick="file1.click();">点击批量上传商品</button><input id="file1" type="file" value="浏览" class="image-file" multiple/>
      </div>
    </div>
    <div class="form-content">
      <form id="my_form">
        <div class="input-group">
          <label>名称</label>
          <input type="text" placeholder="请输入名称" name="name"/>
        </div>
        <div class="input-group">
          <label>零售</label>
          <input type="text" placeholder="" name="price"/>
        </div>
        <div class="input-group">
          <label>库存</label>
          <input type="text" placeholder="不填写默认为无限" name="stock"/>
        </div>
        <div class="input-group">
          <label>邮费</label>
            <input type="radio" name="postage" value="0"/>包邮
            <input type="radio" name="postage" value="1"/>不包邮
        </div>
        <div class="input-group">
          <label>佣金</label>
          <div class="distributions">
            <div>一级:<input type="text" placeholder="" name="1_cost"/>元</div>
            <div>二级:<input type="text" placeholder="" name="2_cost"/>元</div>
            <div>三级:<input type="text" placeholder=""name="3_cost"/>元</div>
          </div>
        </div>
        <div class="input-group">
          <label>介绍</label>
          <textarea name="introduction"></textarea>
        </div>
        <div class="input-group">
          <label>成本</label>
          <input type="text" placeholder="仅供您查看" name="cost"/>
        </div>
        <div class="input-group">
          <label>备注</label>
          <input type="text" placeholder="仅供您查看" name="mark"/>
        </div>
        <div class="input-group">
          <input type="checkbox" name="is_threshold" value="true">勾选设定此产品为经销商门栏产品
        </div>
        <div class="button-group">
          <input type="button" id="submit" value="提交">
		  <input type="button" value="取消"/>
        </div>
      </form>
    </div>
	<div class="myalert"><p id="alert-content">提示</p><button id="alert-btn">确定</button></div>
    <%=javascript_include_tag 'jquery'%>
    <script>
    file_arr=[]
	file_url=[]
	function myalert(action,content){
		if(action == "show"){
			$("#alert-content").html(content)
			$(".myalert").css("top",((window.screen.height-$(".myalert").height())/2)+"px")
			$(".myalert").css("left",window.screen.width*0.2+"px")
			$(".myalert").show()
		}else{
			$(".myalert").hide()
		}
	  }
    $(function(){
      $(".image-file").change(function(e){
		  var files = e.target.files
		  var reader = []
		  var length = file_arr.length
		  if((files.length+length) > 9){
		  	myalert("show","最多只能上传9张")
			return false;
		  }
		  var html = []
		  var time = 0
		  for(var i = length;i < files.length+length; i++){
              file_arr[i] = files[i-length]
		  	  reader[i] = new FileReader();
              reader[i].onload = function(a) {
			      file_url[this.index] = reader[this.index].result
                  html[this.index] = '<div class="upload-img-box"><img src="'+reader[this.index].result+'" class="upload-img"/><textarea class="img-info"></textarea><button class="button-copy">复制</button><button target="'+this.index+'" class="button-del">删除</button></div>'
				  time++
				  if(time == files.length){
				  	 $(".img-box:eq(0)").append(html.splice(length,time).join(" "))
				  }
              }
			  reader[i].index = i
              reader[i].readAsDataURL(files[i-length]);
		  }
       })

	  $(document).on("click",".button-del",function(){
			file_arr[$(this).attr("target")]=null
	  		$(this).parent().remove();
	  })

      $("#submit").click(function(){
          var formobj =  document.getElementById("my_form");
          // var form = formobj.getFormData()
          var form = new FormData(formobj);
		  var number = 0
          $.each(file_arr,function(index,file){
			if(file){
            	form.append('file[]',file);
				form.append("img_info[]",$(".img-info").eq(index).val())
				number++
			}
          })
		  if(number>9){
			return false	
		  }
		  form.append("appid",'<%=params[:appid]%>')
          var xhr = new XMLHttpRequest();
          xhr.open("post","/page/products", true);
          xhr.onload = function(){
		  		var result = JSON.parse(xhr.responseText)
				console.log(result)
                if (result['returnCode'] == 200){
					window.location.replace(result['result']+window.location.search)
				}
            }
          xhr.send(form);
      })

	  $("#alert-btn").click(function(){
	  		myalert("hide")
	  })
	  
    })
	
    </script>
</body>

</html>
